body { margin: 0px; }

#playground {
    position: absolute;
    top: 3em;
    bottom: 0em;
    width: 100%;
}

.cardcontainer {
    display: inline-block;
    position: relative;
    width: 100%;
}
.spacer { margin-top: 100%; }
.row0 { top: 0%; }
.row1 { top: 25%; }
.row2 { top: 50%; }
.row3 { top: 75%; }
.cell0 { left: 0%; }
.cell1 { left: 25%; }
.cell2 { left: 50%; }
.cell3 { left: 75%; }

.cardcontent {
    width: 25%;
    height: 25%;
    position: absolute;
    background-image: url('../img/cardback.png');
    background-size: cover;
}

.cardshow {
	background-repeat: no-repeat;
    background-image: url('../img/sprite.png');
    background-size: 800% 100%;
}

#menubar {
    position: absolute;
    width: 100%;
    top: 0em;
    height: 3em;
    background-color: #ddd;
}

#menubar .title { font-size: 3em; }

#menu {
    background-color: #eee;
    position: absolute;
    top: 3em;
    bottom: 0em;
    left: -87.5%;
    width: 87.5%;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
}

#menu .title { font-size: 2em; }
#menu.open {
    -webkit-transform: translate(100%, 0%);
    /* top: 0em; Selber Effekt. Schlechte Performance */
}

#menu .button {
	background-color: #dddddd;
	font-size: 1em;
	padding: 0.5em 0em 0.5em 0em;
}
